name: Upload Crowdin Glossary

on:
  push:
    branches:
    - master
    paths:
    - "crowdin-glossary.json"
    - "script/upload-crowdin-glossary.js"
    - "package.json"
    - "package-lock.json"
    - ".github/workflows/glossary.yml"

jobs:
  glossary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v3.0.0
        with:
          node-version: "14"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Upload Glossary
        run: npm run upload-crowdin-glossary
        env:
          CROWDIN_KEY: ${{ secrets.CROWDIN_KEY }}
